body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    margin: 0;
    background-color: #ffffff;
}

.timer-container {
    text-align: center;
}

h1 {
    font-size: 5rem; 
    color: #000000;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

#timer-display {
    font-size: 8rem; 
    color: #000000;
    font-weight: 400;
}