body {
    background-color: #66deb2;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px !important;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.todo-item--checked .todo-item__description {
    text-decoration: line-through;
    color: #6c757d;
}

.todo-item__description {
    flex-grow: 1;
    padding: 0 15px;
    cursor: pointer;
    transition: color 0.2s;
}

.todo-item__description:hover {
    color: #0be69d; 
}